#profile{
    .meds{
        margin-top: 80px;
        table{
            background-color: unset;
            th{
                padding-top: unset;
            }
        }
    }
    .field{
        margin-bottom: 15px;
    }
}
